{% extends "heart_system/base.html" %}
{% block content %}
<div class="health">
    <h1>Health Suggestions</h1>
    <div class="chart-container" id="chart-container">
      <div class="chart-contents">
        <h4>Maintain Balance Diet</h4>
        <span>A Balanced Diet provides essential nutrients, lowers cholesterol and
           supports optimal body fuctions and long-term health.</span>
      </div><hr>
      <div class="chart-contents">
        <h4>Exercise Regularly</h4>
        <span>Regular exercise strengthens the heart,
           improves circulation and helps manage factors like high blood pressure.</span>
      </div><hr>
      <div class="chart-contents">
        <h4>Watch Your Weight!</h4>
        <span>Maintaining a healthy weight reduces strain on the heart
          and lowers the risk of heart disease and stroke.</span>
      </div>
    </div>
    <p>
      Health tips and reccommendations will appear here.
    </p>
  </div>
{% endblock content %}
