{% extends "heart_system/base.html" %}
{% block content %}
  <div class="home">
    <h1>Cardiac Health Support System</h1>
    <span class="home-span">A system designed to assist healthcare professionals in assessing cardiac health risks.  
    <br>Use the navigation menu to access different features of the system.</span>
    <div class="content">
      <h2>Features:</h2>
      <ul>
        <li>- Conduct cardiac health assessments</li><br>
        <li>- View patient history</li><br>
        <li>- Analyze health trends</li><br>
        <li>- Store patient data for later use</li>
      </ul>
    </div>
  </div>

{% endblock content %}
